/* === ESTILIZANDO FORMULÁRIOS === */

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 20px;
    min-height: 100vh; /* Altura mínima da viewport */
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

/* Container do formulário */
.formulario {
     background-color: white;
     max-width: 500px;
     margin: 0 auto; /* Centraliza horizontalmente */
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 10px 30px rgb(0,0,0,0.2);
}
label{
    color: #333;
    font-weight: bold;
    /* Transforma o elemento "Label" em um elemento inline como o (Span ou <a>) mas com comportamento como block */
    display: inline-block;
    margin-bottom: 5px;
}
input[type="Text"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s;
    /* Inclui padding (mantendo a largura) */
    box-sizing: border-box;
}
/* Foco nos campos (focus) */
input:focus,
select:focus,
textarea:focus  {
    outline: none; /* Remove a borda padrão */
    border-color: #667eea;
    background-color: #f9f8ff 
}
/* Radio e checkbox */
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
    cursor: pointer;
}

/* Permitir redimensionamento somente na vertical */
textarea {
    resize: vertical;
}

/* Estilos dos Botões (Gerais) */
button {
    padding: 6px 80px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: all 0.3s;
}
/* Estilo do botão enviar */
.btn-enviar {
    background-color: #27ae60;
    color: #fff;
}
.btn-enviar:hover {
    background-color: #229954;
    transform: translateY(-2px); /* Move para cima levemente */
}
.btn-limpar {
    background-color: #e74c3c;
    color: #fff;
}
.btn-limpar:hover {
    background-color: #e74c3c;
    transform: translateY(-2px); /* Move para cima levemente */
}